h1 Add user 
input(type='text',name='firstName',ng-model='addCtrl.user.firstName')
input(type='text',name='lastName',ng-model='addCtrl.user.lastName')
input(type='text',name='email',ng-model='addCtrl.user.email')
input(type='text',name='password',ng-model='addCtrl.user.pwd')
input(type='tel',name='mobile',ng-model='addCtrl.user.mobile')

button(class='btn btn-info' ng-click='addCtrl.add()') Update
