div(ng-controller='UserProfileCtrl as vm')
  h1 Delete user
  h4 {{ vm.user.firstName }} {{ vm.user.lastName}}
  h4 {{ vm.user.email }}
  h4 {{ vm.user.mobile }}
  h5 {{ vm }}
  button(class='btn btn-danger' ng-click='vm.delete()') Confirm Delete

//ul*/
  each val, index in vm.user
    li= index + ': ' + val*/
    {"user":{"firstName":"Isaiah","lastName":"Henry","email":"hifypixiqo@yahoo.com","mobile":"+844-14-3262646","__v":0,"status":"Inactive"}}

    Confirm Delete
